@use "variables" as *;
@use "mixins" as *;

.comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  

  .comment {
    display: flex;
    flex-direction: column;
    background: rgb(157, 240, 225);
    padding: 5px;
    border-radius: 10px;
    gap: 15px;
    animation: come-in 1s ease-in;
        width: 55%;
   

    &--body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    

      .comment--header {
        display: flex;
        align-items: center;
    

        .profile-pic {
          width: 50px;
          height: 50px;
          background-size: cover;
          border-radius: 50%;
          margin-right: 5px;
        }

        .username {
          color: $dark-blue;
          font-weight: $fw-medium;
        }

      
        .comment-posted-time {
          margin-left: 10px;
          color: $grayish-blue;
        }

        .comment--btn {
          display: none;
        }
      }

      

      .content-edit-box{
        
        color: $grayish-blue;
        line-height: 1.5;
        padding: 10px 15px;
        border: 2px solid $light-gray;
        border-radius: 10px;
        resize: none;
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
          width: 0;
        }
    
        &:focus {
          outline: 1.5px solid $grayish-blue;
        }
    
      }

      .update-btn{
        align-self: flex-end;
        
        color: $white;
        font-weight: $fw-bold;
        text-transform: uppercase;
        padding: 10px 20px;
        background: $moderate-blue;
        border: hidden;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    
        &:hover,
        &:focus{
          opacity: 0.7;
        }    
      }
    }

    
  }

  .comment--btn {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: auto;

    button {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $moderate-blue;
      font-weight: $fw-bold;
      padding: 5px;
      // background: transparent;
      background-color: rgb(237, 225, 248);
      border: 1px solid black;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;

      &:hover,
      &:focus {
        transform:translate(2px);
      }
    }

    .delete-btn {
      color: $soft-red;
    }
  }

  

  

  @include media-md() {
    width: 60%;

    .comment {
      flex-direction: row;
      padding: 20px;
      

    

      &--header {
        .comment--btn {
          display: flex !important;
        }
      }

      &-content {
        width: 97%;
      }

      .content-edit-box{
        height: 100px;
      }


      &--footer {
        display: none;
      }
    }

    .add-comment {
      margin-top: 5px;
    }

   
  }
}

 


// .amyrobson {
//   background: url(../../assets/avatars/image-amyrobson.png);
// }

// .maxblagun {
//   background: url(../../assets/avatars/image-maxblagun.png);
// }

// .ramsesmiron {
//   background: url(../../assets/avatars/image-ramsesmiron.png);
// }

.juliusomo {
  background: url(../../assets/avatars/image-juliusomo.png);
}


@keyframes come-in {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }

  75%{
    opacity: 0;
    transform: translateY(-50%);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}